* {
  box-sizing: border-box;
  margin: 0;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #444477;
    color: #bbbbdd;
  }
}

div {
  border: 2px solid red;
}

.header,
.sidebar,
.main-content {
  border: 2px solid yellowgreen;
}

.header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
  grid-column: 2 / 3;
}

.sidebar {
  grid-row: 1 / 3;
}
